<div>
    <form>
        <div class="row">
            <div class="col-sm-4" data-ng-hide='connected'>
                <h2>Connect to your account</h2>
                <label>User name</label>
                <input class="form-control" type="text" ng-model="user.name" clearable/>
                <label>Password</label>
                <input class="form-control" type="password" ng-model="user.password" clearable/>
                <button ng-click=connect()>Connection</button>
            </div>
        </div>
    </form>
</div>
