<div>
    <form ng-controller="home-controller as homeCtrl">
        <div class="row">
            <div class="col-sm-4">
                <div data-ng-hide='connected'>
                    <h2>Connect to your account</h2>
                    <label>User name</label>
                    <input class="form-control" type="text" ng-model="user.name" clearable/>
                    <label>Password</label>
                    <input class="form-control" type="password" ng-model="user.password" clearable/>
                    <button ng-click=connect()>Connexion</button>
                </div>
                <div data-ng-show='connected'>
                    <h2>Disonnect to your account</h2>
                    <button ng-click=disconnect()>Disconnexion</button>
                </div>
            </div>

        </div>
    </form>
</div>
