<nav class="navbar navbar-default">
    <div class="container">

        <div class="nav navbar-header">
            <a href="#/" class="navbar-brand">hapi learning</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#/logout">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</nav>