<h1 class="page-header">John Doe  <small>39123</small></h1>

<div>

    <ul class="nav">
        <li class="active">
            <a href="#/">
                <i class="glyphicon glyphicon-home"></i> Home </a>
        </li>
        <li>
            <a href="#/profile">
                <i class="glyphicon glyphicon-user"></i> Account Settings </a>
        </li>
        <li>
            <a href="#/courses">
                <i class="glyphicon glyphicon-th-list"></i> Courses </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-flag"></i> Help </a>
        </li>
    </ul>

</div>