<div if-group="admin" class="container-fluid">
    <div class="col-md-10" ng-controller="AdminCtrl as adminCtrl">

        <h1 class="page-header">Administration</h1>

        <h2>New announcement</h2>

        <h3>TODO</h3>

        <div>
            <h2>New user</h2>
            <users-form></users-form>
        </div>

        <br />

        <div>
            <h2>New course</h2>

            <br />

            <courses-form></courses-form>
        </div>

        <br />

        <div>
            <h2>New tags</h2>

            <br />

            <tags-form></tags-form>
        </div>

    </div>
</div>
<div if-group="user teacher">

    <div class="page-header">
        <h1>You don't have access to this page !</h1>


   </div>
</div>
