<div ng-controller="AdminCtrl">
   <div if-group="admin" class="container-fluid">
    <h1 class="page-header" translate>
        GENERAL.ADMIN
    </h1>

    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs nav-justified">
                    <li ui-sref-active="active">
                        <a ui-sref="root.admin.courses">
                            <span class="glyphicon glyphicon-book"></span>
                            <span translate>GENERAL.COURSES</span>

                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.admin.users">
                            <span class="fa fa-users fa-lg"></span>
                            <span translate>GENERAL.USERS</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.admin.news">
                            <span class="fa fa-newspaper-o fa-lg"></span>
                            <span translate>GENERAL.NEWS</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.admin.tags">
                            <span class="fa fa-hashtag fa-lg"></span>
                            <span translate>GENERAL.TAGS</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <br/>

            <div ui-view></div>
        </div>
    </div>
</div>
<div if-group="user teacher">

    <div class="page-header">
        <h1 translate>GENERAL.ERROR.FORBIDDEN</h1>
   </div>
</div>


</div>
