<div if-group="admin" class="container-fluid">
    <div class="col-md-10" ng-controller="AdminCtrl as adminCtrl">

        <h1 class="page-header">Administration</h1>

        <div>
            <h2>New announcement</h2>

            <br />

            <div ng-include="'../partials/create-announcement-form.html'"></div>
        </div>

        <div>
            <h2>New user</h2>

            <br />

            <upload path="upload.php"></upload>

        </div>

        <br />

        <div>
            <h2>New course</h2>

            <br />

            <div ng-include="'../partials/admin/create-course-form.html'"></div>
        </div>

        <br />

        <div>
            <h2>New tags</h2>

            <br />

            <div ng-include="'../partials/admin/create-tag-form.html'"></div>
        </div>

    </div>
</div>
<div if-group="user teacher">

    <div class="page-header">
        <h1>You don't have access to this page !</h1>


   </div>
</div>
