<div ng-include="'../partials/navbar.html'"></div>

<div class="container-fluid">
    
    <div class="col-md-2" ng-controller="home-controller as homeCtrl">

        <div ng-include="'../partials/userbar.html'"></div>

    </div>

    <div class="col-md-10" ng-controller="courses-controller">

        <h1 class="page-header">Courses</h1>

        <div ng-include="'../partials/course-search-form.html'"></div>

        <br />

        <div ng-include="'../partials/courses-list.html'"></div>

    </div>

</div>

<div ng-include="'../partials/footer.html'"></div>