<style>
    .edit-button {
        margin-right: 5px;
        margin-left: 10px;
    }
</style>


<div class="container-fluid">

    <h1 class="page-header">
        <span ng-bind="course.code"></span>
        <span class="hidden-xs">
            - <span ng-bind="course.name"></span>
        </span>
        <br/>
        <span class="visible-xs">
            <span ng-bind="course.name"></span>
        </span>
    </h1>


    <div class="row">
        <div class="col-sm-3 col-lg-2">
            <subscribe code="course.code"></subscribe>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <nav>
                <ul class="nav nav-tabs nav-justified">
                    <li ui-sref-active="active">
                        <a ui-sref="root.course.main({code: course.code})">
                            <span class="glyphicon glyphicon-book"></span>
                            <span translate>COURSE_NAV_HOME_SPAN</span>

                        </a>
                    </li>
                    <li ng-class="{active: $state.includes('root.course.documents')}">
                        <a ui-sref="root.course.documents({code: course.code, path: ''})">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            <span translate>COURSE_NAV_DOCUMENTS_SPAN</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="root.course.news({code: course.code})">
                            <span class="fa fa-newspaper-o fa-lg"></span>
                            <span translate>COURSE_NAV_NEWS_SPAN</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" if-group="teacher admin">
                        <a ui-sref="root.course.admin({code: course.code})">
                            <span class="fa fa-cog fa-lg"></span>
                            <span translate>COURSE_NAV_ADMINISTRATION_SPAN</span>
                        </a>
                    </li>

                </ul>
            </nav>

            <br/>

            <div ui-view></div>
        </div>
    </div>
    <br/>


</div>
