<div class="container-fluid">

    <div class="col-md-12">

        <h1 class="page-header">Courses</h1>
        <search-courses></search-courses>
        <br/>
        <course-list courses="courses"></course-list>

        <div class="text-center">
            <uib-pagination ng-change="loadPage(10, currentPage)"
                            items-per-pages="itemsPerPage"
                            total-items="totalItems" ng-model="currentPage"
                            max-size="5" rotate="false" class="pagination">
            </uib-pagination>
        </div>
    </div>

</div>



