<div>
    <div>

        <button ng-if="!editing" style="color: black" class="btn btn-link pull-right" ng-click="editHomepage()">
            <span class="fa fa-pencil-square-o fa-lg"></span>
        </button>


        <md-editor ng-if="editing" content="course.description"></md-editor>
        <br/>
        <button ng-if="editing" class="btn btn-primary" ng-click="endEditing()">
            <span class="fa fa-floppy-o fa-lg"></span> Save
        </button>
        <div ng-if="!editing" markdown-to-html="course.description"></div>
    </div>

    <div class="col-md-12">

        <br/>

        <div ng-if="course.teachers.length > 0">
            <label>Teachers</label>

            <br />

            <span ng-repeat="teacher in course.teachers">
                <teacher-info teacher="teacher"></teacher-info>
            </span>
        </div>

        <br />

        <div ng-if="course.tags.length > 0">
            <label>Tags</label>

            <br />

            <span ng-repeat="tag in course.tags">
                <tag-button style="margin: 2px;" tag="tag"></tag-button>
            </span>

        </div>

        <br/>

    </div>
</div>
