<div class="container-fluid">

    <h1 class="page-header">
        <span ng-bind="course.code"></span> − <span ng-bind="course.name"></span>
        <span class="show-md pull-right"><subscribe code="course.code"></subscribe></span>
    </h1>

    <div class="col-md-12 col-lg-8 col-lg-push-4">
        <nav>
            <ul class="nav nav-tabs">
                <li ui-sref-active="active" >
                    <a ui-sref="root.course.main({code: course.code})">
                        <span class="glyphicon glyphicon-book"></span>
                        Course Home
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="root.course.documents({code: course.code, path: ''})">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        Documents
                    </a>
                </li>
            </ul>
        </nav>

        <br/>
        <div ui-view></div>
    </div>

    <div class="col-md-12 col-lg-4 col-lg-pull-8">
        <div class="hidden-md">
            <subscribe code="course.code"></subscribe>
        </div>
        <br/>
        
        <div>

            <label>Teachers</label>
            <br />
            <span ng-repeat="teacher in course.teachers">
                <teacher-info teacher="teacher"></teacher-info>
            </span>
        </div>
        <br />

        <div>
            <label>Tags</label>
            <br />

            <span ng-repeat="tag in course.tags">
                <button class="btn btn-default btn-xs">#<span ng-bind="tag"></span></button>
            </span>

        </div>


    </div>
</div>
