<style>
    .ng-scope {
        height: 100%;
        min-height: 100%;
        max-height: 100%;
    }
</style>

<div layout="row" layout-fill>
    <navbar layout="column"></navbar>
    <div layout="column" flex>
        <md-content flex style="background-color: rgba(237, 237, 237, 0.38)" class="md-padding page-content">
            <md-card>
                <md-card-content>
                    <div ui-view></div>
                </md-card-content>
            </md-card>
        </md-content>
    </div>
</div>
