<form name="connection" data-ng-submit="login()" data-ng-hide="connected || forgot" novalidate>


    <div class="alert alert-danger" role="alert" ng-if="invalidCredentials">
        <strong>Invalid credentials:</strong> Try with another username / password
    </div>

    <fieldset class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text"  data-ng-model="user.name" data-ng-required="true" placeholder="Username" />
        </div>
    </fieldset>

    <fieldset class="form-group">

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class="form-control" type="password" data-ng-model="user.password" data-ng-required="true" placeholder="Password" />
        </div>

    </fieldset>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me" /> Remember me
        </label>
    </div>

    <fieldset class="form-group">
        <input class="btn btn-lg btn-success btn-block" type="submit" value="Log in" />
    </fieldset>

    <div>
        <a ng-click="reset()">Forgot your password?</a>
    </div>

</form>

<form name="reset-password" data-ng-submit="reset()" data-ng-show="forgot">

    <fieldset class="form-group">

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" data-ng-model="user.name" data-ng-required="true" placeholder="Username" />
        </div>

    </fieldset>

    <fieldset class="form-group">
        <input class="btn btn-lg btn-warning btn-block" type="submit" value="Reset password" />
    </fieldset>

    <div>
        <a ng-click="backToLogin()">Back to login</a>
    </div>

</form>

