<div flex layout="row" ng-show="available">
    <md-button flex type="button" class="md-raised md-primary" ng-hide="subscribed" ng-click="subscribe()">
        <span class="glyphicon glyphicon-ok md-caption"></span> <span class="md-no-transform" translate>COURSE.SUBSCRIBE</span>
    </md-button>

    <md-button flex type="button" class="md-raised md-warn" ng-show="subscribed" ng-click="unsubscribe()">
        <span class="md-caption glyphicon glyphicon-remove"></span> <span class="md-no-transform" translate>COURSE.UNSUBSCRIBE</span>
    </md-button>
</div>
