<style>
    .ace_editor {
        height: 200px;
    }
</style>

<form name="courseForm" novalidate>

    <fieldset class="form-group">
        <div>
            <div ng-class="{'has-error': courseForm.name.$dirty && !validName}">
                <label>Name (required)</label>
                <input type="text" class="form-control" name="name" ng-model="course.name" title="Course name" placeholder="Algorithmique, Atelier logiciel..." ng-keyup="checkName($event)" required />
            </div>
            
            <br />
            
            <div class="alert alert-danger" ng-show="courseForm.name.$dirty && !validName">
                A course with that name already exists.
            </div>

        </div>
    </fieldset>

    <fieldset class="form-group">
        <div>
            <div ng-class="{'has-error': courseForm.code.$dirty && !validCode}">
                <label>Code (required)</label>
                <input type="text" class="form-control" name="code" ng-model="course.code" title="Course short name" placeholder="ALG, ATL..." ng-keyup="checkCode($event)" required />
            </div>
            
            <br />
            
            <div class="alert alert-danger" ng-show="courseForm.code.$dirty && !validCode">
                A course with that code already exists.
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label>Description</label>

        <md-editor content="course.homepage"># Course name

## Description

## Important documents

## Evaluation

## References / Links
</md-editor>
    </fieldset>


    <fieldset class="form-group">
        <div>
            <label>Teachers</label>
            <tags-input class="ti-input-sm" name="teachers" ng-model="course.teachers" title="Teachers short names" placeholder="Add a teacher" add-from-autocomplete-only="true" display-property="username">
                <auto-complete min-length="0" source="loadTeachers($query)" template="teacher-template"></auto-complete>
            </tags-input>
        </div>
    </fieldset>

    <script type="text/ng-template" id="teacher-template">
        <div class="row">

            <div class="col-md-1">
                <span ng-bind-html="$highlight($getDisplayText())"></span>
            </div>

            <div class="col-md-11">
                <span ng-bind="data.firstName"></span>
                <span ng-bind="data.lastName"></span>
            </div>

        </div>
    </script>
    
    
    <br />
    
    <fieldset class="form-group">
        <div>
            <label>Tags</label>
            <tags-input class="ti-input-sm" min-length="0" name="tags" ng-model="course.tags" title="Course tags" placeholder="Add tags" add-from-autocomplete-only="true" display-property="name" clearable>
                <auto-complete min-length="0" source="loadTags($query)"></auto-complete>
            </tags-input>
        </div>
    </fieldset>


    <br />

    <fieldset class="form-group">
        <input type="submit" ng-click="postCourse()" class="btn btn-primary" value="Create new course" ng-disabled="!complete()" />
        <input type="reset" class="btn btn-warning" value="Reset" />
    </fieldset>
    
    <script type="text/ng-template" id="course-added">
        <h2>Course successfully added!</h2>
        
        <br />
        
        <input class="btn btn-success" type="button" value="OK" ng-click="closeThisDialog() || clearFields()"/>
        <a ui-sref="root.course.main({code: course.code})" ng-click="closeThisDialog() || clearFields()">
            <input class="btn btn-primary" type="button" value="Go to course" />
        </a>
    </script>

</form>
