<md-card>
    <md-card-title>
        <md-card-title-text>
            <h3>
                <updated code="course.code"></updated>
                <course-link course="course"></course-link>
            </h3>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div layout="column">
            <label translate>GENERAL.TEACHERS</label>

            <span ng-repeat="teacher in course.teachers">
                <teacher-info teacher="teacher"></teacher-info>
            </span>
        </div>

        <br />

        <div layout="column">
            <label translate>GENERAL.TAGS</label>

            <span flex ng-repeat="tag in course.tags">
                <tag-button style="margin: 2px;" tag="tag"></tag-button>
            </span>
        </div>

        <br />

    </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
        <subscribe flex="25" flex-sm="50" flex-xs="100" code="course.code"></subscribe>
    </md-card-actions>
</md-card>
