
<style>
    .save-file {
        color: black;
    }


    .save-file, .folder-name {
        cursor: pointer;
    }

    .file-name, .folder-name {
        font-size: 16px;
    }

    .error-message {
        font-size: 15px;
    }

    .btn-edit {
        margin-bottom: 2px;
        margin-top: 2x;
    }

    .dropdown-btn {
        cursor: pointer;
    }

    @media (max-width: 992px) {
        .btn {
          margin-bottom: 10px;
        }
        .pull-left, .pull-right {
          float: none !important;
        }
      }
}

</style>


<div>


    <div class="row" ng-if="states.folderError" ng-click="cleanFolderError()">
       <div class="col-md-12 alert alert-danger error-message">
            <span translate>FILE-EXPLORER.INVALID.NAME</span>
       </div>
    </div>

    <div ng-if="states.uploadError">
       <div class="alert alert-danger alert-dismissible error-message"
            ng-click="cleanUploadError()" aria-label="close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span><strong translate>FILE-EXPLORER.ERROR</strong><br/>
            <ul>
                <li translate>FILE-EXPLORER.INVALID.TYPE</li>
                <li translate>FILE-EXPLORER.INVALID.SIZE</li>
            </ul>
            </span>
       </div>
    </div>



    <div class="row">
       <div class="col-md-3 col-lg-2">
            <a ng-disabled="files.dir === null"
               ng-click="(states.fetching || files.dir === null) || goToParent()"
               class="btn btn-block btn-success">
                <span class="glyphicon glyphicon-arrow-left"></span> 
                <span translate>FILE-EXPLORER.BUTTONS.PARENT</span>
            </a>
        </div>

        <div class="col-md-2 col-lg-1" if-group="teacher admin">
            <button class="btn btn-default btn-block dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-plus"></span> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
                <li><a class="dropdown-btn" ng-click="states.creatingFolder = true" translate>FILE-EXPLORER.BUTTONS.CREATEDIR</a></li>
                <li><a class="dropdown-btn" ng-click="states.uploading = true" translate>FILE-EXPLORER.BUTTONS.UPLOAD</a></li>
            </ul>
        </div>

       <div if-group="teacher admin">
            <div class="col-md-2 col-lg-1 pull-right" ng-show="states.showHidden">
                <button popover-trigger="mouseenter" popover-placement="top"
                        uib-popover="Click to hide hidden files"
                        popover-popup-delay="700"
                        class="btn btn-default btn-block" ng-click="states.showHidden = false">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </div>

            <div class="col-md-2 col-lg-1 pull-right" ng-show="!states.showHidden" >
                <button popover-trigger="mouseenter" popover-placement="top"
                        uib-popover="{{'FILE-EXPLORER.BUTTONS.SHOW' | translate}}"
                        popover-popup-delay="700"
                        class="btn btn-default btn-block" ng-click="states.showHidden = true">
                    <span class="glyphicon glyphicon-eye-close"></span>
                </button>
            </div>
       </div>

        <div class="col-md-2 pull-right">
            <a ng-href="{{download()}}">
                <button class="btn btn-primary btn-block">
                   <span class="glyphicon glyphicon-cloud-download"></span>
                   <span class="hidden-md" translate>FILE-EXPLORER.BUTTONS.DOWNLOAD</span>
                </button>
            </a>
        </div>

        <div class="col-md-3 col-lg-2" ng-show="states.uploading">
            <button class="btn btn-danger btn-block"
                     ng-click="states.uploading = false">
                <span class="glyphicon glyphicon-floppy-remove"></span>
                <span translate>FILE-EXPLORER.BUTTONS.FINISH</span>           
            </button>
        </div>


    </div>


   <br/>

   <div class="row" ng-if="states.creatingFolder">

        <div class="col-lg-3 col-md-5 col-lg-offset-2">
           <div class="form">

                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" ng-model="folder.name"
                               type="text" placeholder="{{'FILE-EXPLORER.FOLDER.PLACEHOLDER' | translate}}"/>
                       <div class="input-group-btn">

                            <button class="btn btn-default"
                                    ng-click="createFolder()">
                                    <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button class="btn btn-default"
                                    ng-click="cleanFolderName()">
                                    <span class="glyphicon glyphicon-remove"></span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <label class="checkbox-inline">
                            <input ng-model="folder.hidden"
                                type="checkbox" value="false"/>
                                <strong translate>FILE-EXPLORER.FOLDER.HIDDEN</strong>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <br/>


    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td class="col-md-1" translate>FILE-EXPLORER.TABLE.TYPE</td>
                    <td class="col-md-5" translate>FILE-EXPLORER.TABLE.NAME</td>
                    <td class="col-md-1" translate>FILE-EXPLORER.TABLE.SIZE</td>
                    <td class="col-md-1" translate>FILE-EXPLORER.TABLE.DOWNLOAD</td>
                    <td class="col-md-1" translate>FILE-EXPLORER.TABLE.UPDATED</td>
                    <td if-group="teacher admin" class="col-md-1" translate>FILE-EXPLORER.TABLE.VISIBILITY</td>
                    <td if-group="teacher admin" class="col-md-2" translate>FILE-EXPLORER.TABLE.EDIT</td>
                </tr>
            </thead>
            <tbody>


                <!-- Directory -->
                <tr ng-repeat="file in files.files">

                    <!-- ICON -->
                    <td class="col-md-1">
                        <div ng-if="file.type === 'd'">
                            <span class="fa fa-folder-open fa-lg"></span>
                        </div>
                        <div ng-if="file.type === 'f'">
                            <span file-icon ext="file.ext"></span>
                        </div>
                    </td>


                    <!-- NAME -->
                    <td class="col-md-5">
                       <div ng-if="file.type === 'd'">
                            <a ng-click="fileExplorer.$visible || goToRelativePath(file.name)"
                                ng-disabled="fileExplorer.$visible">
                                <span class="folder-name" editable-text="file.name"
                                      e-name="name" e-form="fileExplorer" ng-bind="file.name">
                                </span>
                            </a>
                       </div>
                       <div ng-if="file.type === 'f'" class="file-name">
                           <span editable-text="file.name"
                                 e-name="name" e-form="fileExplorer"
                                 ng-bind="file.name">
                           </span>
                       </div>
                    </td>

                     <!-- SIZE -->
                    <td class="col-md-1">
                        <div ng-if="file.type === 'f'">
                            <span ng-bind="file.size | byteFmt: 2"></span>
                        </div>
                    </td>

                    <!-- DOWNLOAD ICON -->
                    <td class="col-md-1">
                       <div ng-if="file.type === 'd'">
                            <a ng-href="{{getDownloadPath(file.name)}}">
                                <span class="fa fa-save fa-lg save-file"></span>
                            </a>
                       </div>
                       <div ng-if="file.type === 'f'">
                            <a ng-href="{{getDownloadPath(file.name)}}">
                                <span class="fa fa-save fa-lg save-file"></span>
                            </a>
                       </div>
                    </td>


                    <!-- LAST UPDATED -->
                    <td class="col-md-1" am-time-ago="file.updated_at"></td>

                    <!-- HIDDEN -->
                    <td class="col-md-1" if-group="teacher admin">
                        <div e-title="Hidden" e-name="hidden" e-form="fileExplorer"
                              editable-checkbox="file.hidden">
                            <span ng-if="file.hidden === true">
                                <span class="glyphicon glyphicon-eye-close">
                                </span>
                            </span>
                            <span ng-if="file.hidden === false">
                                <span class="glyphicon glyphicon-eye-open">
                                </span>
                            </span>
                        </div>
                    </td>


                    <!-- EDIT -->

                    <td class="col-md-2" show-group="teacher admin">
                        <form editable-form name="fileExplorer"
                              ng-show="fileExplorer.$visible"
                              class="form-buttons form-inline"
                              onbeforesave="file.type === 'd' ?
                                      updateFolder($data, $index) :
                                      updateFile($data, $index)">


                            <div if-group="teacher admin">
                                <!-- Confirm -->
                                <button type="submit" class="btn btn-primary btn-sm"
                                        ng-disabled="fileExplorer.$waiting">
                                    <span class="fa fa-check fa-lg">

                                    </span>
                                </button>

                                <!-- Cancel -->
                                <button type="button" class="btn btn-warning btn-sm"
                                        ng-disabled="fileExplorer.$waiting"
                                        ng-click="fileExplorer.$cancel()">
                                    <span class="fa fa-remove fa-lg">
                                    </span>
                                </button>
                            </div>

                        </form>
                            <div ng-show="!fileExplorer.$visible">

                                   <div if-group="teacher admin">
                                        <!-- Edit -->
                                        <button class="btn btn-default btn-sm" style="color: black"
                                           ng-click="fileExplorer.$show()">
                                            <span class="fa fa-pencil-square-o fa-lg">
                                            </span>
                                        </button>

                                        <!-- Delete -->
                                        <button class="btn btn-danger btn-sm" ng-click="removeFile($index)">
                                            <span class="fa fa-minus fa-lg">
                                            </span>
                                        </button>
                                   </div>
                            </div>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div style="text-align: center" class="col-md-12" ng-if="files.files.length === 0 && !states.uploading">
        <span class="fa fa-ban fa-2x" translate>FILE-EXPLORER.NO_FILE</span>
    </div>

    <upload ng-if="states.uploading" path="getUploadPath()"></upload>

</div>
