<div>
    <br/>
    <footer class="footer">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">

                <p class="navbar-text pull-left">
                    <span class="fa fa-graduation-cap">
                    </span>
                    hapi learning
                </p>

                <a href="https://github.com/fknop/hapi-learning" target="_blank" class="navbar-btn btn-link btn pull-right">
                    <span class="fa fa-github-square"></span> Github
                </a>
            </div>
        </div>

    </footer>
</div>
