<style>
    .ma-sidenav {
        background: rgb(16,108,200);
    }

    .sidenav-item, .sidenav-item a{
        color: white;
        padding: 10px;
        cursor: pointer;
    }

    .sidenav-item.active {
        background: hsla(0, 0%, 0%, 0.15);
    }

    .sidenav-item:hover {
        background: hsla(0, 0%, 0%, 0.3);
    }
</style>

    <md-sidenav flex class="md-sidenav-left md-whiteframe-z2 ma-sidenav" md-component-id="leftSidenav"
                md-is-locked-open="$mdMedia('gt-md')" >

        <md-content style="color:white" class="md-toolbar-tools ma-sidenav">
            <h1 class="navbar-header hidden-xs hidden-sm">
                <span ng-bind="profile.firstName"></span>
                <span ng-bind="profile.lastName"></span>
                <small style="color:white"><span ng-bind="profile.username"></span></small>
            </h1>
        </md-content>
        <md-divider></md-divider>
        <md-content layout-padding class="ma-sidenav">
            <div class="sidenav-item" ui-sref="root.home" ui-sref-active="active">
                <span class="fa fa-home"></span> <span translate> NAV.HOME</span>
            </div>
            <div class="sidenav-item" ui-sref="root.profile" ui-sref-active="active">
                <span class="fa fa-user"></span> <span translate>NAV.SETTINGS</span>
            </div>
            <div class="sidenav-item" ui-sref="root.news" ui-sref-active="active">
                <span class="fa fa-newspaper-o"></span> <span translate>NAV.NEWS</span>
            </div>
            <div class="sidenav-item" ui-sref="root.courses" ui-sref-active="active">
                <span class="fa fa-th-list"></span> <span translate>NAV.COURSES</span>
            </div>
            <div class="sidenav-item" if-group="admin" ui-sref="root.admin.courses" ui-sref-active="active">
                <span class="fa fa-cog"></span> <span translate>NAV.ADMIN</span>
            </div>
            <md-divider></md-divider>
            <div class="sidenav-item" ng-click="logout()">
                <span class="fa fa-sign-out"></span> <span translate>NAV.LOGOUT</span>
            </div>

           <!-- <ul class="nav">
                <li ui-sref-active="active">
                </li>
                <li ui-sref-active="active">
                </li>
                <li ui-sref-active="active">
                </li>
                <li ui-sref-active="active">
                </li>
                <li if-group="admin" ui-sref-active="active">
                </li>
                <li>
                </li>
            </ul>-->
        </md-content>

    </md-sidenav>


