<style>
    .ma-sidenav {
        background: rgb(16,108,200);
    }

    .sidenav-item * {
        color: white;
    }

    .sidenav-item {
        padding: 10px;
        cursor: pointer;
    }

    .sidenav-item.active, .sidenav-item:hover {
        background: hsla(0, 0%, 0%, 0.15);
    }

    .md-sidenav-left {
        width: 175px;
    }

</style>

<md-sidenav flex layout="column" class="md-sidenav-left md-whiteframe-z2 ma-sidenav" md-component-id="left"
            md-is-locked-open="true" >

    <md-toolbar>
        <div hide-md ng-hide="collapsed" class="md-toolbar-tools">
            <h1 class="navbar-header hidden-xs hidden-sm">
                <span ng-bind="profile.firstName"></span>
                <span ng-bind="profile.lastName"></span> <br/>
                <small style="color:white"><span ng-bind="profile.username"></span></small>
            </h1>
        </div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content class="ma-sidenav" layout="column">
        <div ui-sref-active="active" class="sidenav-item" ui-sref="root.home">
            <md-icon class="material-icons md-24">home</md-icon>
            <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.HOME</span>
        </div>

        <div class="sidenav-item" ui-sref="root.profile" ui-sref-active="active">
            <md-icon class="material-icons md-24">person</md-icon>
            <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.SETTINGS</span>
        </div>
        <div class="sidenav-item" ui-sref="root.news" ui-sref-active="active">
            <md-icon class="material-icons">notifications</md-icon>
            <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.NEWS</span>
        </div>
        <div class="sidenav-item" ui-sref="root.courses" ui-sref-active="active">
            <md-icon class="material-icons">view_list</md-icon>
             <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.COURSES</span>
        </div>
        <div class="sidenav-item" if-group="admin" ui-sref="root.admin.courses" ui-sref-active="active">
            <md-icon class="material-icons md-24">settings</md-icon>
            <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.ADMIN</span>
        </div>
        <md-divider></md-divider>
        <div class="sidenav-item" ng-click="logout()">
            <md-icon class="material-icons">exit_to_app</md-icon>
            <span hide-md ng-hide="collapsed" class="md-24" translate>NAV.LOGOUT</span>
        </div>
    </md-content>

    <div hide-md ng-hide="collapsed" style="padding: 20px" layout="column" layout-align="end center" flex>
        <md-button ng-disabled="collapsing" class="md-icon-button md-raised md-primary" ng-click="collapse(true)">
            <md-icon class="material-icons">keyboard_arrow_left</md-icon>
        </md-button>
    </div>

    <div ng-hide="!collapsed" style="padding-bottom: 20px" layout="column" layout-align="end center" flex>
        <md-button ng-disabled="collapsing" class="md-icon-button md-raised md-primary" ng-click="collapse(false)">
            <md-icon class="material-icons">keyboard_arrow_right</md-icon>
        </md-button>
    </div>


</md-sidenav>




