<md-card>
    <md-card-header layout="row">
        <div class="alert alert-{{news.priority}}" flex="100">
            <div>
                <strong>
                    <news-link news="news"></news-link>
                    <span ng-if="news.course">-</span>
                    <span ng-bind="news.subject"></span>
                </strong>
            </div>
            <div>
                <span ng-bind="(news.date | date)"></span>
            </div>
        </div>
    </md-card-header>

    <md-card-content layout="row">
        <p ng-bind="news.content">
        </p>
    </md-card-content>

    <md-card-footer>
        Author: <cite title="{{news.user}}" ng-bind="news.user"></cite>
    </md-card-footer>
</md-card>

