<form name="profileForm" layout="column">
    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label ng-bind="profile.firstName"></label>
            <md-icon class="material-icons">
                person
            </md-icon>
            <input type="text" ng-model="newProfile.firstName"/>
        </md-input-container>

        <md-input-container flex="30" flex-offset="5" class="md-icon-float">
            <label ng-bind="profile.lastName"></label>
            <md-icon class="material-icons">
                person
            </md-icon>
            <input type="text" ng-model="newProfile.lastName"/>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label ng-bind="profile.email"></label>
            <md-icon class="material-icons">
                email
            </md-icon>
            <input name="email" type="text" ng-change="checkEmail(newProfile.email)" ng-model="newProfile.email" />

            <!-- Error messages -->
            <div ng-if="errors">
                <div ng-messages="profileForm.email.$error" ng-show="errors.invalidEmail">
                    <div translate>FORM.PROFILE.EMAIL.INVALID</div>
                </div>
            </div>
        </md-input-container>

        <md-input-container flex-offset="5" flex="30" class="md-icon-float">
            <label>{{profile.phoneNumber || 'Phone number'}}</label>
            <md-icon class="material-icons">
                phone
            </md-icon>
            <input type="text" ng-model="newProfile.phoneNumber" ng-required="false"/>
        </md-input-container>
    </div>

    <div layout="row" layout-align="start center">
        <div flex="10">
            <label translate>FORM.PROFILE.NOTIFY.LABEL</label>
        </div>
        <div>
            <md-switch aria-label="Notify" ng-model="newProfile.notify"></md-switch>
        </div>
    </div>


    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label>New password</label>
            <md-icon class="material-icons">
                lock
            </md-icon>
            <input name="newP" type="password" ng-model="newProfile.passwords.new" />

            <!-- Error messages -->
            <div ng-if="errors">
                <div ng-messages="profileForm.newP.$error" ng-show="errors.passwordsNotMaching">
                    <div translate>FORM.PROFILE.PASSWORD.NOT_MATCHING</div>
                </div>

                <div ng-messages="profileForm.newP.$error" ng-show="errors.passwordMinLength">
                    <div translate>FORM.PROFILE.PASSWORD.TOO_SHORT</div>
                </div>
            </div>


        </md-input-container>

        <md-input-container flex-offset="5" flex="30" class="md-icon-float">
            <label>Confirm password</label>
            <md-icon class="material-icons">
                lock
            </md-icon>
            <input name="confirmP" type="password" ng-model="newProfile.passwords.confirm" />

            <!-- Error messages -->
            <div ng-if="errors">
                <div ng-messages="profileForm.confirmP.$error" ng-show="errors && errors.passwordsNotMaching">
                    <div translate>FORM.PROFILE.PASSWORD.NOT_MATCHING</div>
                </div>

                <div ng-messages="profileForm.confirmP.$error" ng-show="errors.passwordMinLength">
                    <div translate>FORM.PROFILE.PASSWORD.TOO_SHORT</div>
                </div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-button flex="10" class="md-raised md-primary" ng-click="save()">
            Save
        </md-button>
        <md-button flex="10" class="md-raised md-warn" ng-click="cancel()">
            Cancel
        </md-button>
    </div>

</form>
