<div layout="column">
    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label ng-bind="profile.firstName"></label>
            <md-icon>
                <span class="glyphicon glyphicon-user"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.firstName" ng-required="true"/>
        </md-input-container>

        <md-input-container flex="30" flex-offset="5" class="md-icon-float">
            <label ng-bind="profile.lastName"></label>
            <md-icon>
                <span class="glyphicon glyphicon-user"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.lastName" ng-required="true"/>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label ng-bind="profile.email"></label>
            <md-icon>
                <span class="glyphicon glyphicon-envelope"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.email" ng-required="true"/>
        </md-input-container>

        <md-input-container flex-offset="5" flex="30" class="md-icon-float">
            <label>{{profile.phoneNumber || 'Phone number'}}</label>
            <md-icon>
                <span class="glyphicon glyphicon-phone"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.phoneNumber" ng-required="false"/>
        </md-input-container>
    </div>

    <div layout="row" layout-align="start center">
        <label flex="10" translate>FORM.PROFILE.NOTIFY.LABEL</label>
        <md-switch aria-label="Notify" flex-offset="5" flex="15" ng-model="newProfile.notify" ng-change="">
        </md-switch>
    </div>


    <div layout="row">
        <md-input-container flex="30" class="md-icon-float">
            <label>New password</label>
            <md-icon>
                <span class="glyphicon glyphicon-lock"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.passwords.new" ng-required="false"/>
        </md-input-container>

        <md-input-container flex-offset="5" flex="30" class="md-icon-float">
            <label>Confirm password</label>
            <md-icon>
                <span class="glyphicon glyphicon-lock"></span>
            </md-icon>
            <input type="text" ng-model="newProfile.passwords.confirm" ng-required="false"/>
        </md-input-container>
    </div>

    <div layout="row">
        <md-button flex="10" class="md-raised md-primary" ng-click="save()">
            Save
        </md-button>
        <md-button flex="10" class="md-raised md-warn" ng-click="cancel()">
            Cancel
        </md-button>
    </div>

</div>
<br/>
<!--

   <div>
    <form editable-form name="profileForm" class="form-horizontal"
          onbeforesave="updateProfile($data)" oncancel="removeErrors()">

       <div class="form-group">
           <label class="control-label col-md-2"><span translate>FORM.PROFILE.FIRSTNAME.LABEL</span>: </label>
            <div class="col-md-10">
                <span e-class="form-control" editable-text="profile.firstName"
                      e-name="firstName"
                      ng-bind="profile.firstName"></span>
            </div>
       </div>

        <div class="form-group">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.LASTNAME.LABEL</span>:</label>
            <div class="col-md-10">
                 <span e-class="form-control" editable-text="profile.lastName"
                      e-name="lastName"
                      ng-bind="profile.lastName"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.EMAIL.LABEL</span>:</label>
            <div class="col-md-10">
                <span e-class="form-control" e-type="email"
                      e-ng-change="checkEmail(profile.email)"
                      editable-text="profile.email" e-name="email"
                      ng-bind="profile.email" e-required></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.NOTIFY.LABEL</span>:</label>
            <div class="col-md-10" style="padding-left:35px">
                <div e-class="form-control" e-type="checkbox"
                      editable-checkbox="profile.notify" e-name="notify">
                    <md-switch ng-model="profile.notify">
                    </md-switch>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.PHONE.LABEL</span>:</label>
            <div class="col-md-10">
                <span e-class="form-control" editable-text="profile.phoneNumber" e-name="phoneNumber"
                      ng-bind="profile.phoneNumber" e-placeholder="{{'FORM.PROFILE.PHONE.PLACEHOLDER' | translate}}">

                </span>
            </div>
        </div>

        <div class="form-group" ng-show="profileForm.$visible">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.PASSWORD.LABEL</span>:</label>
            <div class="col-md-10">
              <span e-type="password" editable-text="newPassword"
                    e-class="form-control"
                    e-name="newPassword" e-placeholder="{{'FORM.PROFILE.PASSWORD.PLACEHOLDER' | translate}}">
             </span>
            </div>
        </div>

        <div class="form-group" ng-show="profileForm.$visible">
            <label class="control-label col-md-2"><span translate>FORM.PROFILE.PASSWORD.CONFIRM</span>:</label>
            <div class="col-md-10">
                <span e-type="password" e-class="form-control"
                      editable-text="confirmPassword"
                      e-name="confirmPassword" e-placeholder="{{'FORM.PROFILE.PASSWORD.PLACEHOLDER' | translate}}">
                </span>

            </div>
        </div>



        <br/>

        <div class="buttons col-md-offset-2 col-md-2">
            <button type="button" class="btn btn-default"
                    ng-click="profileForm.$show()" ng-show="!profileForm.$visible" translate>
                GENERAL.EDIT
            </button>

            <span ng-show="profileForm.$visible">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="profileForm.$waiting" translate>
                    GENERAL.SAVE
                </button>

                <button type="button" class="btn btn-default"
                        ng-disabled="profileForm.$waiting"
                        ng-click="profileForm.$cancel()" translate>
                    GENERAL.CANCEL
                </button>

            </span>

        </div>
    </form>
</div>
-->
