<form name="tagForm" ng-controller="AdminCtrl as adminCtrl" novalidate>

    <fieldset class="form-group">
        <div>
            <label translate>FORM.TAGS.LABEL</label>
            <tags-input min-length="1" class="ti-input-sm" name="tags" title="Tags" ng-model="tags"
                        placeholder="{{'FORM.TAGS.PLACEHOLDER' | translate}}"></tags-input>
        </div>
    </fieldset>

    <br />

    <div>
        <button class="btn btn-primary" ng-click="createTags()" translate>
            FORM.TAGS.BUTTONS.SUBMIT
        </button>
    </div>

</form>
