<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
        text-align: center;
    }
    /* Default class applied to drop zones on over */

    .nv-file-over {
        border: dotted 3px green;
    }
</style>
<div nv-file-drop uploader="uploader" filters="queueLimit, customFilter">
    <div class="well my-drop-zone" type="file" nv-file-over uploader="uploader" ng-click="fileChooser()" translate>
        FILE-EXPLORER.UPLOAD.DRAGNDROP
    </div>

    <input type="file" class="file filestyle" id="fileSelect" nv-file-select uploader="uploader" multiple />
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th class="col-md-4" translate>FILE-EXPLORER.UPLOAD.TABLE.NAME</th>
                <th class="col-md-2" ng-show="uploader.isHTML5" translate>FILE-EXPLORER.UPLOAD.TABLE.SIZE</th>
                <th class="col-md-2" ng-show="uploader.isHTML5" translate>FILE-EXPLORER.UPLOAD.TABLE.PROGRESS</th>
                <th class="col-md-1" translate>FILE-EXPLORER.UPLOAD.TABLE.STATUS</th>
                <th class="col-md-1" translate>FILE-EXPLORER.UPLOAD.TABLE.VISIBILITY</th>
                <th class="col-md-2" translate>FILE-EXPLORER.UPLOAD.TABLE.ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in uploader.queue">

                <td><strong>{{ item.file.name }}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar"
                             role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>

                <td class="text-center">
                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>


                <td nowrap>
                    <button type="button" class="btn btn-primary btn-xs"
                             ng-click="toggleFileVisible(item)" ng-show="isVisible(item)">
                        <span class="glyphicon glyphicon-eye-open"></span><span translate>FILE-EXPLORER.UPLOAD.VISIBILITY.VISIBLE</span>
                    </button>
                    <button type="button" class="btn btn-warning btn-xs"
                             ng-click="toggleFileVisible(item)" ng-show="!isVisible(item)">
                        <span class="glyphicon glyphicon-eye-close"></span><span translate>FILE-EXPLORER.UPLOAD.VISIBILITY.HIDDEN</span>
                    </button>
                </td>


                <td nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                       ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.UPLOAD</span>
                    </button>

                    <button type="button" class="btn btn-warning btn-xs"
                            ng-click="item.cancel()" ng-disabled="!item.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.CANCEL</span>
                    </button>

                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.REMOVE</span>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>

    <div>
        <div>
            <span translate>FILE-EXPLORER.UPLOAD.QUEUE</span>
            <div class="progress" style="">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
        </div>

        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.UPLOAD-ALL</span>
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.CANCEL-ALL</span>
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
            <span class="glyphicon glyphicon-trash"></span><span translate>FILE-EXPLORER.UPLOAD.BUTTONS.REMOVE-ALL</span>
        </button>
    </div>

</div>
