<style>
    .ace_editor {
        height: 200px;
    }
</style>

<form name="courseForm" layout="column">

    <div layout="row" layout-xs="column">

        <md-input-container flex="45" md-no-float md-icon-float>

            <md-icon class="material-icons">
                label
            </md-icon>
            <input type="text" name="name" ng-model="form.course.name"
                   placeholder="{{'FORM.COURSES.NAME.LABEL' | translate}}"
                   ng-keyup="form.checkName($event)" required />


           <!-- <div class="alert alert-danger" ng-show="courseForm.name.$dirty && !validName" translate>
                FORM.COURSES.NAME.INVALID
            </div>
    -->
        </md-input-container>

        <md-input-container flex flex-offset="5" flex-offset-xs="0" md-no-float md-icon-float>

            <md-icon>
                label
            </md-icon>
            <input type="text" class="form-control" name="code" ng-model="form.course.code"
                   placeholder="{{'FORM.COURSES.CODE.LABEL' | translate}}"
                   ng-keyup="form.checkCode($event)" required />


           <!-- <div class="alert alert-danger" ng-show="courseForm.code.$dirty && !validCode" translate>
                FORM.COURSES.CODE.INVALID
            </div>-->
        </md-input-container>
    </div>

    <div layout="column">
        <div>
            <label translate>FORM.COURSES.DESCRIPTION.LABEL</label>
        </div>

        <md-editor content="form.course.homepage"></md-editor>
    </div>

   <div layout="row" layout-xs="column">
        <!-- TODO autocomplete iwth material design -->
        <md-input-container flex md-no-float>
            <label translate>FORM.COURSES.TEACHERS.LABEL</label>
            <tags-input class="ti-input-sm" name="teachers" ng-model="form.course.teachers"
                        placeholder="{{'FORM.COURSES.TEACHERS.PLACEHOLDER' | translate}}"
                        add-from-autocomplete-only="true" display-property="username">
                <auto-complete min-length="0" source="loadTeachers($query)" template="teacher-template"></auto-complete>
            </tags-input>
        </md-input-container>

        <md-input-container flex md-no-float>
            <label translate>FORM.COURSES.TAGS.LABEL</label>
            <tags-input class="ti-input-sm" min-length="0" name="tags" ng-model="form.course.tags"
                        placeholder="{{'FORM.COURSES.TAGS.PLACEHOLDER' | translate}}"
                        add-from-autocomplete-only="true" display-property="name" clearable>
                <auto-complete min-length="0" source="loadTags($query)"></auto-complete>
            </tags-input>
        </md-input-container>


   </div>




    <div flex layout="row">
        <md-button flex ng-click="form.postCourse()" class="md-raised md-primary"
                   ng-disabled="!form.complete() || !form.validName || !form.validCode">
            <span translate>
                FORM.COURSES.BUTTONS.CREATE
            </span>
        </md-button>
        <md-button flex type="reset" class="md-raised md-warn">
            <span translate>
                FORM.COURSES.BUTTONS.RESET
            </span>
        </md-button>
    </div>

</form>

<script type="text/ng-template" id="course-added">
    <h2 translate>FORM.COURSES.FEEDBACK</h2>


    <input class="btn btn-success" type="button" value="{{'OK' | translate}}" ng-click="closeThisDialog()"/>
    <a ui-sref="root.course.main({code: course.code})" ng-click="closeThisDialog()">
        <input class="btn btn-primary" type="button" value="{{'FORM.COURSES.BUTTONS.GOTO_ADDED' | translate}}" />
    </a>
</script>

<script type="text/ng-template" id="teacher-template">
    <div class="row">

        <div class="col-md-1">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>

        <div class="col-md-11">
            <span ng-bind="data.firstName"></span>
            <span ng-bind="data.lastName"></span>
        </div>

    </div>
</script>
