<style>
    .ace_editor {
        height: 400px;
    }
</style>

<div>

    <uib-tabset class="hidden-xs" justified="false">
        <uib-tab ng-click="setEditor()" active="writing">
            <uib-tab-heading>
                <span class="fa fa-code fa-lg"></span>
                Write
            </uib-tab-heading>
        </uib-tab>
        <uib-tab ng-click="setPreview()">
            <uib-tab-heading>
                <span class="fa fa-desktop fa-lg"></span>
                Preview
            </uib-tab-heading>
        </uib-tab>


        <form class="form-inline pull-right" ng-submit="write()">
            <div class="form-group">
                <label>Font size: </label>
                <select ng-change="setFontSize(selectedFontSize)"
                      class="form-control" ng-model="selectedFontSize"
                      ng-options="size as size for size in fontSizes"
                      disable-valid-styling="true">

                </select>
            </div>
        </form>

    </uib-tabset>

    <uib-tabset class="visible-xs" justified="true">
        <uib-tab ng-click="setEditor()" active="writing">
            <uib-tab-heading>
                <span class="fa fa-code fa-lg"></span>
                Write
            </uib-tab-heading>
        </uib-tab>
        <uib-tab ng-click="setPreview()">
            <uib-tab-heading>
                <span class="fa fa-desktop fa-lg"></span>
                Preview
            </uib-tab-heading>
        </uib-tab>

        <form class="form-inline pull-right">
            <div class="form-group">
                <label>Font size: </label>
                <select ng-change="setFontSize(selectedFontSize)"
                      class="form-control" ng-model="selectedFontSize"
                      ng-options="size as size for size in fontSizes"
                      disable-valid-styling="true">

                </select>
            </div>
        </form>


    </uib-tabset>


    <div>
        <div ng-show="writing">
            <div ui-ace="options"></div>
        </div>
        <div ng-show="!writing">
            <div markdown-to-html="getContent()"></div>
        </div>
    </div>
    <div>
        <br/>

        <button ng-if="hasSave()" class="btn btn-primary hidden-xs" ng-click="save()">
            <span class="fa fa-floppy-o fa-lg"></span> Save
        </button>

        <button ng-if="hasSave()" class="btn btn-primary btn-block visible-xs" ng-click="save()">
            <span class="fa fa-floppy-o fa-lg"></span> Save
        </button>

        <button ng-if="hasCancel()" class="btn btn-default hidden-xs" ng-click="cancel()">
            <span class="fa fa-ban fa-lg"></span> Cancel
        </button>

        <button ng-if="hasCancel()" class="btn btn-default btn-block visible-xs" ng-click="cancel()">
            <span class="fa fa-ban fa-lg"></span> Cancel
        </button>
    </div>

</div>
