<style>
    /* make sidebar nav vertical */

    @media (max-width: 992px) {
        .sidebar-nav .navbar .navbar-collapse {
            padding: 0;
            max-height: none;
            border-color: transparent;
            background-color: transparent;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-toggle {
            display: block;
        }
        /* since 3.1.0 */
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .collapsing {
            overflow: hidden!important;
        }
        .h3, h3 {
            padding-bottom: 10px;
            padding-left: 20px;
        }
    }

    @media (min-width: 992px) {
        .sidebar-nav .navbar-default {
            border-color: transparent;
            background-color: transparent;
        }
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar-nav .navbar-header {
        float: none;
    }
</style>

<div class="sidebar-nav">
    <h1 class="navbar-header hidden-xs hidden-sm">
        <span ng-bind="profile.firstName"></span>
        <span ng-bind="profile.lastName"></span>
        <small><span ng-bind="profile.username"></span></small>
    </h1>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs visible-sm navbar-brand" ng-bind="profile.username"></span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <div class="visible-xs visible-sm">

                <h3>
                        <div>
                        <span ng-bind="profile.firstName"></span>
                        <span ng-bind="profile.lastName"></span>
                            </div>

                <div>
                    <small><span ng-bind="profile.username"></span></small>
                </div>
                    </h3>
            </div>

            <ul class="nav">
                <li ui-sref-active="active">
                    <a ui-sref="root.home">
                        <i class="glyphicon glyphicon-home"></i> Home </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="root.profile">
                        <i class="glyphicon glyphicon-user"></i> Account Settings </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="root.courses">
                        <i class="glyphicon glyphicon-th-list"></i> Courses </a>
                </li>
                <li>
                    <a href="#" ng-click="logout()">
                        <i class="glyphicon glyphicon-log-out"></i> Logout </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!--
<div id="sidebar-nav" class="navbar-collapse collapse">

    <h1 class="navbar-header">
        <span ng-bind="profile.firstName"></span>
        <span ng-bind="profile.lastName"></span>
        <small><span ng-bind="profile.username"></span></small>
    </h1>

    <ul class="nav navbar-nav nav-stacked">
        <li ui-sref-active="active">
            <a ui-sref="root.home">
                <i class="glyphicon glyphicon-home"></i> Home
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="root.profile">
                <i class="glyphicon glyphicon-user"></i> Account Settings
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="root.courses">
                <i class="glyphicon glyphicon-th-list"></i> Courses
            </a>
        </li>
        <li ui-sref-active="active">
            <a ng-click="logout()" style="cursor: pointer">
                <i class="glyphicon glyphicon-log-out"></i> Logout
            </a>
        </li>
    </ul>
</div>-->
