<div>
    <form editable-form name="profileForm" class="form-horizontal" onbeforesave="updateProfile($data)">

       <div class="form-group">
            <label class="control-label col-md-2">First name: </label>
            <div class="col-md-10">
                <span e-class="form-control" editable-text="profile.firstName"
                      e-name="firstName"
                      ng-bind="profile.firstName"></span>
            </div>
       </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last name:</label>
            <div class="col-md-10">
                 <span e-class="form-control" editable-text="profile.lastName"
                      e-name="lastName"
                      ng-bind="profile.lastName"></span>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Email:</label>
            <div class="col-md-10">
                <span e-class="form-control" editable-text="profile.email" e-name="email"
                      ng-bind="profile.email"></span>
            </div>
        </div>


        <div class="form-group" ng-show="profileForm.$visible">
            <label class="control-label col-md-2">
                Password (required if you change your password):
            </label>
           <div class="col-md-10">

                <span e-type="password" editable-text="profile.password" e-class="form-control"
                        ng-model="password" ng-minlength="8" e-name="password"
                       e-placeholder="●●●●●●●●" e-ng-required="profile.password"></span>
           </div>
        </div>

        <div class="form-group" ng-show="profileForm.$visible">
            <label class="control-label col-md-2">New password:</label>
            <div class="col-md-10">
              <span e-type="password" editable-text="profile.password"
                e-class="form-control"
             ng-model="newPassword"
             ng-minlength="8" e-name="newPassword" e-placeholder="●●●●●●●●">

             </span>
            </div>
        </div>

        <div class="form-group" ng-show="profileForm.$visible">
            <label class="control-label col-md-2">Confirm new password:</label>
            <div class="col-md-10">
                <span e-type="password" e-class="form-control" editable-text="profile.confirmPassword"
                     ng-model="confirmPassword" e-name="confirmPassword"
                        e-placeholder="●●●●●●●●"
                        ui-validate="{passwordMatch: '$value === newPassword'}"
                        ui-validate-watch="'newPassword'" e-ng-required="newPassword.$dirty">

                </span>

            </div>
        </div>



        <br/>

        <div class="buttons col-md-offset-2 col-md-2">
            <button type="button" class="btn btn-default"
                    ng-click="profileForm.$show()" ng-show="!profileForm.$visible">
                Edit
            </button>

            <span ng-show="profileForm.$visible">
                <button type="submit" class="btn btn-primary"
                        ng-disabled="profileForm.$waiting"
                        >
                    Save
                </button>

                <button type="button" class="btn btn-default"
                        ng-disabled="profileForm.$waiting"
                        ng-click="profileForm.$cancel()">
                    Cancel
                </button>

            </span>

        </div>
    </form>
</div>
