<div class="row">

    <form class="col-sm-4">
        <label>Course Name</label>
        <input class="form-control" type="text" data-ng-model="filter.course" clearable />
    </form>

</div>

<br />

<div>
    <label>Tags</label>

    <div>
        <span data-toggle="buttons" ng-repeat="tag in tags track by $index">
            <label class="btn btn-default" ng-click="selected(tag)">
                <input type="checkbox" ng-model="tags[$index]" ng-change="selected()">
                #<span ng-bind="tag.name"></span>
            </label>
        </span>
    </div>

</div>
