<div class="row">
    <form-group>
        <span class="col-sm-4">
            <input class="form-control"
                   type="text"
                   placeholder="Course name or code"
                   ng-change="load()"
                   ng-model="coursesFilter"/>
        </span>
    </form-group>
</div>

<br />

<div>
    <label>Tags</label>

    <div>
        <span data-toggle="buttons" ng-repeat="tag in tags track by $index">
            <label style="margin: 2px" class="btn btn-default" ng-click="selected(tag)">
                <input type="checkbox" ng-model="tags[$index]" ng-change="selected()">
                #<span ng-bind="tag.name"></span>
            </label>
        </span>
    </div>

</div>
