<form name="userForm" ng-controller="AdminCtrl as adminCtrl" novalidate>

    <fieldset class="form-group">
        <div>
            <label>Username (required)</label>
            <input type="text" class="form-control" name="username" ng-model="username" ng-minlength="5" ng-maxlength="5" title="Username" placeholder="42424" required />
        </div>
    </fieldset>

    <fieldset class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label>First name</label>
                <input type="text" class="form-control" name="firstname" title="First name" placeholder="John" />
            </div>

            <div class="col-xs-6">
                <label>Last name</label>
                <input type="text" class="form-control" name="lastname" title="Last name" placeholder="Doe" />
            </div>
        </div>
    </fieldset>

    <fieldset class="form-group">
        <label>Password (required)</label>
        <input type="password" class="form-control" ng-model="password" ng-minlength=8 name="password" title="Password" placeholder="●●●●●●●●" required />
    </fieldset>

    <fieldset class="form-group">
        <label>Email (required)</label>
        <input type="email" class="form-control" ng-model="email" name="email" title="Email" placeholder="42424@heb.be" required />
    </fieldset>

    <br />

    <fieldset class="form-group">
        <input type="submit" class="btn btn-primary" value="Create new user" />
        <input type="reset" class="btn btn-warning" value="Reset" />
    </fieldset>

</form>



<h2>Import from file</h2>

<input type="file" on-read-file="showUsersFileContent($fileContent)" />
<div ng-if="usersFileContent">
    <h2>File content is:</h2>
    <pre pretty-json="usersFileContent">
    </pre>
</div>
<br/>
